appdirs==1.4.4
attrs==23.2.0
Babel==2.14.0
bibtexparser==2.0.0b6
certifi==2023.11.17
charset-normalizer==3.3.2
clldutils==3.22.1
colorama==0.4.6
colorlog==6.8.2
commonnexus==1.9.2
csvw==3.3.0
idna==3.6
isodate==0.6.1
jmespath==1.0.1
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
language-tags==1.2.0
latexcodec==2.0.1
lexibase==0.1.0
lingpy==2.6.13
lingrex==1.4.1
lxml==5.1.0
Markdown==3.5.2
MarkupSafe==2.1.4
networkx==3.2.1
newick==1.9.0
numpy==1.26.3
pandas==2.2.0
pybtex==0.24.0
pycldf==1.37.0
pyedictor==0.4
pylatexenc==2.10
pyparsing==3.1.1
python-dateutil==2.8.2
python-frontmatter==1.1.0
pytz==2023.4
PyYAML==6.0.1
rdflib==7.0.0
referencing==0.33.0
requests==2.31.0
rfc3986==1.5.0
rpds-py==0.17.1
six==1.16.0
tabulate==0.9.0
termcolor==2.4.0
tqdm==4.66.1
tzdata==2023.4
uritemplate==4.1.1
urllib3==2.2.0
